.diary_message {
    margin-top: 50px;
    width: 900px;
    align-items: center;
    margin-left: 250px;
    color: antiquewhite;
}

#button_reset_add {
    padding: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

#title_add {
    margin-top: 40px;
    margin-left: 20px;
}

.form_diary {
    background-color: wheat;
}